@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #F4F1FF 0%, #FFFFFF 100%);
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}
.text-center{
  text-align: center;
}

p {
  font-size: 15px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.gap {
  padding: 50px 0;
}

.col-50 {
  width: 49%;
}
.col-60 {
  width: 59%;
}
.col-40 {
  width: 39%;
}
.col-25 {
  width: 24%;
}


.col-33{
  width: 32%;
}

.mb-15 {
  margin-bottom: 15px;
}
.mb-10{
  margin-bottom: 10px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.al-center{
  align-items: center;
}
.space-bw{
  justify-content: space-between;
}



/* Header css  */
header {
  padding: 15px 0;
  box-shadow: 0 0 10px #d6d6d6;
}



nav .logo img {
  width: 200px;
  display: block;
  cursor: pointer;
}

.hf-nav-menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.hf-nav-menu ul li a {
  text-decoration: none;
  color: #71717A;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
}

.hf-nav-menu ul li.active a {
  color: #4E6147;
  font-weight: 700;
  border-bottom: 2px solid #4E6147;
}

.hf-menu-toggle {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 999;
}

.hf-menu-toggle span {
  width: 100%;
  height: 3px;
  background: #c58b2b;
  border-radius: 20px;
  transition: 0.4s;
}

.hf-menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hf-menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.hf-menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -8px);
}

nav .book-now button {
  padding: 12px 32px;
  color: #fff;
  font-size: 16px;
  background: #4E6147;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Footer css  */

.footer-top .col-25 h3{
color: #4E6147;
}
.footer-top .col-25 h4{
color: #4E6147;
}
.footer-top .col-25 p{
font-size: 14px;
color: #52525B;
}
.footer-bg{
  background-color: #F4F4F5;
}
.right-reserve {
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
  border-top: 1px solid #71717A;
  margin-top: 20px;
  color: #52525B;
}


.social-icons {
  display: flex;
  gap: 10px;
}

.icon-box {
  width: 48px;
  height: 48px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #66666f;
  cursor: pointer;
  transition: 0.3s;
}

.icon-box:hover {
  transform: translateY(-3px);
  background: #f0f0f0;
}
/* Home page css  */
/* main sec  */

.hero-bg-img{
  background-image: url("../src//images//hero-bg.png");
}
.hero-bg-img h1{
  color: #4E6147;
}
.main-sec-buttons button:first-of-type{
  padding: 12px 32px;
  background-color: #4E6147;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  border-radius: 15px;
}
.main-sec-buttons button:last-of-type{
  padding: 12px 32px;
  background-color: #efefef;
  color: #71717A;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
}
.hero-right-img img{
  width: 100%;
}

/* why-section */
.why-section-top{
  background-color: #F4F3F3;
}
.why-left-top h2{
color: #4E6147;
}
.why-left-top p{
color: #52525B;
}
.why-right-top .col-50{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.why-right-top h4{
  font-size: 16px;
}

.why-right-top .info-card p{
  font-size: 14px;
  color: #52525B;
}
.work-section-heading {
  color: #4E6147;
  margin-bottom: 40px;
  
}
.work-card .work-icon {
  background-color: #D3E9C7;
  padding: 10px 15px;
  border-radius: 50%;
  display: inline-block;
}
.work-card p{
  color: #52525B;
  font-size: 14px;
}


/* our request section  */
.our-request-bg {
background-color: #F4F3F3;
}
.our-request-bg h2 {
color: #4E6147;
}
.our-request-bg p {
color: #52525B;
}
.our-first-row{
  margin-top: 20px;
  margin-bottom: 25px;
}
.our-first-row .col-60{
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 20px;
}
.our-req-img img{
  width: 100%;
  border-radius: 20px;
}
.req-audition{
  color: #6A537D;
}
.audition-top h4 {
  margin: 10px 0;
  font-weight: 600;
}
.audition-top p{
  color: #52525B;
}
.audition-top button{
  background-color: #4E6147;
  padding: 10px 30px;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}
.service-card-right{
  padding: 25px;
  background-color: #4E6147;
  border-radius: 20px;
  color: #fff;
}
.service-card-right p{
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

.care-card.col-33{
background-color: #fff;
padding: 25px;
border-radius: 20px;
}

.care-card.differ-color{
  background-color: #6A537D;
  color: #fff;
}
.care-card.differ-color p{
  color: #fff;
}
.care-card.col-33 h3{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}
.care-card.col-33 p{
  color: #52525B;
  font-size: 14px;
}

.care-card.differ-color p{
  color: #fff;
}